.dropdown-item {
  user-select: none;
  cursor: pointer;
  &.displayFlex {
    display: flex !important;
    align-items: center;
  }
  img {
    + span {
      padding-left: 0.5rem;
    }
  }
  .placeholder,
  .icon-container:first-child {
    display: flex;
    justify-content: center;
    width: 2.5em;
    margin-left: -1em;
  }
  &.disabled {
    opacity: 0.6;
  }
}
