.Card {
  width: 45%;
  height: 24%;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  margin-top: 2em;
  margin-right: 5em;
  margin-bottom: 2em;
  .img {
    padding: 0.5em;
    width: 100%;
  }
  .CardActive {
    border: solid 1px #5d4dba;
  }
  .Description {
    font-size: 0.8em;
    opacity: 0.6;
  }
}

.Card:hover {
  border: solid 1px #5d4dba;
}
