@import 'app/constants.scss';

.ResultPage {
  .Title {
    color: $purple;
    font-size: 1.4em;
    font-weight: 500;
  }
  .Cod {
    font-size: 0.8em;
    opacity: 0.4;
  }
  .Block {
    border: solid 1px #b7b6bb;
    border-radius: 0.5em;
    margin-right: 1em;
    .field {
      font-weight: lighter;
      .description-title {
        color: $purple;
        margin-top: 0.5em;
      }
    }
    .value {
      color: $purple;
    }
    .criteries {
      font-weight: lighter;
    }
  }
  .sector-title {
    color: $grey;
    font-weight: 500;
  }
}
