.Sidebar {
  height: 100%;
  width: 5em;
  border-right: 1px solid #d3d3d3;
  color: #d3d3d3;
  .icon {
    cursor: pointer;
    font-size: 1.3em;
    margin-bottom: 1.5em;
  }
  .active {
    color: #5d4dba;
  }
}
