// @import "~bootstrap/scss/bootstrap.scss";
@import './constants.scss';

$primary: $purple;

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';

.App {
  height: 100vh;
  width: 100vw;
  position: fixed;
  a {
    text-decoration: none;
    color: #d3d3d3;
  }
}
